.back{
    background-color: #032256;
    height:80px;  
}
.menu1{
    margin-left: 70%;  
}
ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
li a { 
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
li a:hover {
    padding:15px;
    background-color: #0E4982;
}

